<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="image-responsive" src="<%= campg.image%>" alt="">
                <div class="caption-full">
                    <h4 class="float-right">$<%= campg.price%>/night</h4>
                    <h4><a href="/"><%= campg.name%></a></h4>
                    <div class="float-right">
                        <button type="button" class="btn btn-xs btn-primary" data-toggle="modal"
                                data-target="#campgroundLikes">
                            <span>Total likes: <i class="fas fa-thumbs-up"></i> <%= campg.likes.length %></span>
                        </button>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <form action="/campgrounds/<%= campg._id %>/like" method="POST">
                            <div class="btn-group">
                                <% if (currentUser && campg.likes.some(function (like) {
                                    return like.equals(currentUser._id)
                                })) { %>
                                <button class="btn btn-sm btn-primary">
                                    <i class="fas fa-thumbs-up"></i> Liked (<%= campg.likes.length %>)
                                </button>
                                <% } else { %>
                                <button class="btn btn-sm btn-secondary">
                                    <i class="fas fa-thumbs-up"></i> Like (<%= campg.likes.length %>)
                                </button>
                                <% } %>
                                <button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                                        data-target="#campgroundLikes">See more details
                                </button>
                            </div>
                        </form>
                    </div>
                    <p><%= campg.description %></p>
                    <p>
                        <em>Submitted by: <a href="/users/<%= campg.author.id %>"><%= campg.author.username %></a>, <%= moment(campg.createdAt).fromNow() %></em>
                    </p>
                    <%if(currentUser && campg.author.id.equals(currentUser._id)){%>
                    <a class="btn btn-warning" href="/campgrounds/<%= campg._id%>/edit">Edit</a>
                    <form class="delete-form" action="/campgrounds/<%= campg._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <%}%>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/campgrounds"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
            </div>
            <div class="img-thumbnail">
                <div class="caption-full">
                    <% if (campg.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (campg.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campg.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campg.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campg.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= campg.reviews.length %>)</em>
                    </p>
                    <p>
                        Current campground rating: <strong><%= campg.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this campground:</h4></p>
                    <hr style="margin-top: 0;">
                    <% campg.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/campgrounds/<%=campg._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%=campg._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/campgrounds/<%= campg._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && campg.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campg._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>

            <!-- <div class="card bg-light" style="margin-top: 15px;">
                <div class="text-right" style="margin:5px">
                    <a class="btn btn-success" href="/campgrounds/<%= campg._id%>/comments/new">Leave Comments</a>
                </div>
                <hr>
                <%campg.comments.forEach(function(comment){%>
                    <div class="row" style="margin:10px">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong> 
                            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text%>
                            </p>
                            <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                                <a class="btn btn-sm btn-warning" 
                                href="/campgrounds/<%= campg._id%>/comments/<%= comment._id%>/edit">EDIT</a>
                                <form class="delete-form" action="/campgrounds/<%= campg._id%>/comments/<%= comment._id%>?_method=DELETE" method="post">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <%}%>
                         
                        </div>
                    </div>
                <%})%>
            </div> -->
        </div>
    </div>
</div>
<!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title float-left">Campground likes: <%= campg.likes.length %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% campg.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
                        </tr>
                    <% }); %>
                    <% if (campg.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<%- include("../partials/footer") %>